/* Override inbuilt class .css-1wvake5 */
.css-1wvake5 {
  border-right-width: 0px !important;
  
}

/* Override inbuilt class .css-1wvake5 */
.css-dip3t8 {
  background-color: rgb(249, 249, 249, 0) !important;
}

.ps-menu-button{
  /* flex-direction: row-reverse !important; */
}

.css-1tqrhto >.ps-menu-button {
  flex-direction: row-reverse !important; 
  padding-right:40px !important;
}

.ps-submenu-expand-icon{
  opacity: 1 ;
  margin-right: 12px;
}
.ps-menu-label{
  font-size: 14px !important;
  font-weight: 500;
  margin-left: 10px;
}

.css-wx7wi4{
  margin-right: 0px !important;
}